body {
    line-height: 1.4;
    color: #333;
    font-family: sans-serif;
}
hr {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    padding: 0;
    margin: 20px 0px 20px 0px;
    border: 0;
}
.container {
    margin: 20px auto;
    width: 970px;
}
h1 {
    font-size: 34px;
}
h2 {
    font-weight: normal;
    font-style: italic;
    color: #999;
    font-size: 18px;
    padding: 0;
    margin: 5px 0 10px 0;
}
.avatar {
    text-align: right;
}
.avatar img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}